<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <jmxConfigurator />
  <appender name="bischeck" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>/var/tmp/bischeck.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,Europe/Stockholm} ; %p ; %t ; %c ; %m%ex{short}%n</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>3</maxIndex>
      <FileNamePattern>/var/tmp/bischeck.log.%i</FileNamePattern>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>1000KB</MaxFileSize>
    </triggeringPolicy>

  </appender>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%L [%t] %-5p %c - %m%n</pattern>
    </encoder>
  </appender>

  <logger name="com.ingby" level="INFO">
    <appender-ref ref="bischeck"/>
  </logger>
 
  <!--
  <logger name="com.ingby.socbox.bischeck.configuration.ConfigurationManager" level="DEBUG">
    <appender-ref ref="bischeck"/>
  </logger>

  <logger name="com.ingby.socbox.bischeck.jepext" level="DEBUG">
    <appender-ref ref="bischeck"/>
  </logger>
  
  <logger name="com.ingby.socbox.bischeck.serviceitem.CalculateOnCache" level="DEBUG">
    <appender-ref ref="bischeck"/>
  </logger>

  
  <logger name="com.ingby.socbox.bischeck.threshold.Twenty4HourThreshold" level="DEBUG">
    <appender-ref ref="bischeck"/>
  </logger>
 
  <logger name="com.ingby.socbox.bischeck.cache.provider.redis" level="DEBUG" additivity="false">
    <appender-ref ref="bischeck"/>
  </logger>
 -->

  <logger name="org.quartz" level="ERROR">
    <appender-ref ref="bischeck"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="stdout"/>
  </root>

</configuration>
